# Deployment used by npx convex dev
CONVEX_DEPLOYMENT=dev:fabulous-cheetah-381 #team: sarthak-tripathy, project: nautrace
CONVEX_URL=https://fabulous-cheetah-381.eu-west-1.convex.cloud
CONVEX_SITE_URL=https://fabulous-cheetah-381.eu-west-1.convex.site

# Frontend Vite
VITE_CONVEX_URL=https://fabulous-cheetah-381.eu-west-1.convex.cloud
VITE_CONVEX_SITE_URL=https://fabulous-cheetah-381.eu-west-1.convex.site

# Gateway & Intelligence Services
PORT=8080
INTELLIGENCE_URL=http://127.0.0.1:8000
NAUTRACE_ALGORITHM_CONFIG=./intelligence/config/algorithm.yaml
